[D-BUS Service]
Name=com.palm.imlibpurple
Exec=/usr/sbin/imlibpurpleservice -c {\"log\":{\"appender\":{\"type\":\"pmlog\"},\"levels\":{\"imlibpurple\":\"info\"}}} PalmPre Palm-Pre/1.5
